<div class="pagebuilder-content-type pagebuilder-faq children-min-height" attr="data.main.attributes" ko-style="data.main.style" css="data.main.css" event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <render args="getOptions().template" ></render>
    <div afterRender="afterRender">
        <render args="childTemplate" ></render>
    </div>
</div>
