<div class="pagebuilder-content-type pagebuilder-faq-item type-nested" attr="Object.assign({}, {id: parent.id}, data.main.attributes())" ko-style="data.main.style()" css="data.main.css()" event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <render args="getOptions().template" ></render>
    <h3 data-bind="liveEdit: { field: 'question', placeholder: 'Edit question' }" class="pagebuilder-faq-item-collapsible" aria-expanded="true"></h3>
    <div data-role="content">
        <div if="isWysiwygSupported()" class="inline-wysiwyg" ko-style="data.answer.style" css="data.answer.css" attr="data.answer.attributes" afterRender="initWysiwyg">
            <div html="data.answer.html" ></div>
        </div>
        <div if="isWysiwygSupported()" class="placeholder-text" ifnot="data.answer.html" translate="'Edit answer here.'"></div>
        <div ifnot="isWysiwygSupported()">
        <textarea class="inline-wysiwyg-textarea"
                  afterRender="initTextarea"
                  event="{keyup: onTextareaKeyUp, focus: onTextareaFocus, blur: onTextareaBlur}"
                  data-bind="attr: { placeholder: $t('Edit answer here.') }" >
        </textarea>
        </div>
        <figure>
            <scope args="uploader.getUiComponent()">
                <render></render>
            </scope>
        </figure>
        <img if="data.image.attributes().src"
             attr="data.image.attributes"
             class="preview-image"
             css="data.image.css"
             ko-style="data.image.style" />
    </div>
</div>
